{% extends 'base.html' %}

{% block title %}Crop Recommender{% endblock %}

{% block content %}
    <h1><center>Crop Recommendation</center> </h1>
    <p><b>Fill out the given parameters to estimate the kind of crop advisable to plant(Don't leave anything empty)</b></p>
    <form action="/#" method="POST">
        <p>Nitrogen Level:   <input class="form-input" type="text" name="Nitrogen_Level" placeholder="Lvl of N in Soil eg.55",value="50">  <br></p>
        <p>Phosphorus Level: <input class="form-input" type="text" name="Phosphorus_Level" placeholder="Lvl of P in Soil eg.50",value="50"><br></p>
        <p>Potassium Level:  <input class="form-input" type="text" name="Potassium_Level" placeholder="Lvl of K in Soil eg.45",value="50">  <br></p>
        <p>Temperature:      <input class="form-input" type="text" name="Temperature" placeholder=" eg. 25",value="25">     <br></p>
        <p>Humidity:         <input class="form-input" type="text" name="Humidity" placeholder="Humidity Level eg. 80",value="80">  <br></p>
        <p>pH:               <input class="form-input" type="text" name="pH" placeholder="pH of the soil 0-14",value="7"><br></p>
        <p>Rainfall:         <input class="form-input" type="text" name="Rainfall" placeholder="Amt of rainfall in soil eg. 100",value="100">   <br></p>

        <input type="submit" value="Predict">
    </form>
{% endblock %}
